/* Affects the entire html page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
  }
  
  /* Affects the navbar class */
  .navbar 
  {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center; /* Center the item horizontally */
    align-items: center;     /* Center the item vertically */
    font-size: 1.2rem;      /* 1 rem = 16 px. 1.2rem == 19.2px*/
    position: sticky;       /* Keeps position absolute */
    top: 0;                 
    z-index: 999;           /* Position of navbar in relation to other (z axis). 999 puts navbar at very front */
  }

  /* Affects logo + "Stinnett photography" */
  .navbar_container 
  {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto; /* Space around border to the right */
    margin-left: auto;  /* Space around border to the left */
    padding-right: 50px; 
    padding-left: 50px; /* Distance from left side of page */
  }

  /* Styles element navbar_logo */

  #navbar_logo
  {
    background-color: #fff;
    background-image: linear-gradient(to top, #ffd900 0%, #ffffff 100%);
    background-size: 100%;
    /* ------ Color and gradient applied only to the text */ 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    /* -------------------------------------------------- */
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;  /* Decoration on text */
    font-size: 2rem;   
  }

  /* ES Camera Icon */
  .logo
  {
    padding-right: 10px; 
    background-image: linear-gradient(to top, #ffd900 0%, #ffffff 100%);
    background-size: 49px 49px;
    background-repeat: no-repeat;
  }

  /* Affects the position of the navbar links + button */
  .navbar_menu
  {
    display: flex;
    align-items: center;  /* y-axis alignment */
    list-style: none;
    text-align: center;
  }

  /* Specifically the links sans button */
  .navbar_item
  {
    height: 80px; /* Aligns links to top of page */
  }

  /* Links */
  .navbar_links
  {
    color: #fff;  /* Set to white */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;  /* y-axis, x-axis */
    height: 100%;
  }   

  .navbar_links:hover
  {
    color: #caac00;
    transition: all 0.3s ease;
  }

  /* Button positioning */
  .navbar_btn
  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }

  /* Within the hyperlink button */
  .button 
  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #caac00;
    color: #fff;
    font-size: 1.5rem;
  }

  /* When moused over */
  .button:hover
  {
    background: #635400;
    transition: all 0.3s ease;
  }



  @media screen and (max-width: 960px) {
    .navbar_container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    /* Drop down menu */
    .navbar_menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 0;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }
  
    /* Dropdown menu when open */
    .navbar_menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
    }
  
    /* Image and NEXT */
    #navbar_logo {
      padding-left: 25px;
    }
  
    .navbar_toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .navbar_item {
      width: 100%;
    }
  
    .navbar_links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar_btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar_toggle .bar {
      display: block;
      cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.main
{
  background-color: #141414;
}

.main_container
{
  align-items: center;
  justify-self: center;
  height: 90vh;   /* 90 viewport height (dynamic 90% of the screen)*/
  background-color: #141414;
  z-index: 1;

}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideshow-container img
{
  height: 500px;
  object-fit: cover;  /* Keeps the image to scale */
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #ffd900;
}

/* Caption text */
.text {
  color: #ffd900;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ffd900;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffd900;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .05}
  to {opacity: 1}
}
